@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-heading: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-neon: #00FF00;
}

body {
  @apply bg-[#050505] text-white font-sans antialiased selection:bg-neon/30 selection:text-neon scroll-smooth;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
